.navbarMovie {
    font-size: 20px !important;

    a.navbar-brand {
        font-size: 20px !important;
        color: rgb(92, 184, 1);
    }

    a.nav-link {
        color: rgb(92, 184, 1) !important;

    }
}